.Header {
  font-family: "Roboto";
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.39);
  background-image: url("./usp.jpg");
  background-size: cover;
  background-position: 50% 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  text-shadow: 0 0 10px #000;
}

.Header-image {
  width: 300px;
}

.Header img {
  border-radius: 50%;
  border: solid 5px #363838;
  width: 100%;
}

.Header h1 {
  font-size: 50px;
  color: #fff;
  margin-left: 50px;
}

@media (max-width: 700px) {
  .Header {
    flex-direction: column;
    align-items: center;
  }
  .Header h1 {
    margin-left: 0;
  }
}
