.Piece-image img {
  width: 250px;
}

.Piece-image {
  /* margin-left: 200px; */
  display: inline-block;
}

.Piece-text {
  font-family: Roboto;
  display: inline-block;
  width: 600px;
  padding-left: 50px;
  vertical-align: top;
}

.Piece-text h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}

.Piece-text p {
  color: #098396;
  font-size: 20px;
  margin: 5px 0px;
}
